@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Patrick+Hand&display=swap");
@import "tailwindcss";
@import "./styles/base.css";
@import "./styles/themes/classic.css";
@import "./styles/themes/sunny.css";
@import "./styles/themes/mint.css";
@import "./styles/themes/kids.css";
